Clase 3/Talleres/R/.idea
Clase 4\Material didáctico\Taller en R\.idea
Clase 4\Talleres Resueltos\Taller en R\.idea
Clase 4\Talleres Resueltos\Taller en R clase 5\.idea

.\idea
./idea
branch_structure.json
temp_auto_push.bat
temp_interactive_push.bat
.gitignore
